@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Basic.Company.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Kun.Basic.CompanyGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>