@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Stock.OutStock.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Kun.Stock.OutStockGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>