@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Project.ServiceBill.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Kun.Project.ServiceBillGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>