@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Sys.DocumentCodeConfig.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Kun.Sys.DocumentCodeConfigGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>