@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Finance.Receipt.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Kun.Finance.ReceiptGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>