@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Ops.ManhourPrice.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Kun.Ops.ManhourPriceGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>