@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Project.ProjectInfo.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Kun.Project.ProjectInfoGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>