@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Stock.OutStockItem.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Kun.Stock.OutStockItemGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>