/*.s-TemplatedDialog .s-DataGrid {
    height: 250px;
}*/

.s-InStockDialog .s-DataGrid {
    height: 250px;
}

.s-Ops-MaintenanceDialog .Materials .s-DataGrid {
    height: 200px;
}

.s-Ops-MaintenanceDialog .Manhours .s-DataGrid {
    height: 150px;
}

.s-Sell-SaleOrderDialog .s-DataGrid {
    height: 300px;
}

.s-ChangeStockDialog .s-DataGrid {
    height: 300px;
}

.s-Stock-StockDataCheckGrid   {
    height: 300px;
}