@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Sell.SaleOrderItem.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Kun.Sell.SaleOrderItemGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>