@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Basic.Supplier.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Kun.Basic.SupplierGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>