@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Stock.ChangeStock.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Kun.Stock.ChangeStockGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>